@import "tailwindcss/preflight";
@tailwind utilities;

@layer components {
  .card-gradient-forge {
    background: linear-gradient(to bottom right, #c1440e, #e85d3d);
  }
  .card-gradient-commerce {
    background: linear-gradient(to bottom right, #d4af37, #f4d03f);
  }
  .card-gradient-artisanat {
    background: linear-gradient(to bottom right, #708090, #a9a9a9);
  }
  .card-gradient-nature {
    background: linear-gradient(to bottom right, #228b22, #32cd32);
  }
}
